<table id="table2" class="table table-bordered bg-light table-responsive-md">
    <thead class="table-light table-info">
        <tr>
            <th>Customer ID</th>
            <th>Name</th>
            <th>Date</th>
        </tr>
    </thead>
    {% if bbts_stu_meal_trans %}
    {% for b in bbts_stu_meal_trans %}
    <tbody>
        <tr>
            <td>{{ b.CUST_ID }}</td>
            <td>{{ b.NAME }}</td>
            <td>{{ b.Funcdate }}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>

</table>